/* 
    Document   : gui
    Created on : 27 Jul, 2012, 6:30:28 PM
    Author     : paxterra
    Description:
        Purpose of the stylesheet follows.
*/
.error{
	-fx-background-color: red,linear-gradient(to bottom, derive(red,60%) 5%,derive(red,90%) 40%);
}